.App {
  text-align: left;
  padding: 55px;
}
ul {
  list-style: none;
}

.nav {
  background-color: yellow;
  margin: 0px;

}

.nav ul {
  list-style: none;
}

table td {
  padding: 10px;
}

.colHeader {
  background-color: black;
  color: white;
  width: 100px;
}

.col {
  background-color: blanchedalmond;
  padding: 0, 5px;
}

.clickable {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}